*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navbar
{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.top-icons
{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: #1c1c50;
    margin-left: 10px;
    cursor: pointer;
}
.other-links
{
    margin-right:33px ;
}
.other-links i{
    color: #1c1c50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login
{
   width: 100px;
   border:2px solid #1c1c50;
   color: #1c1c50;
   font-weight: bold;
   border-radius: 5px;
   height: 5vh;
   transition: 0.5s ease;
   cursor: pointer;
}
#btn-login a
{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-login a:hover 
{
    background-color: #1c1c50;
    color: white;
}
#btn-login:hover
{
    background-color: #1c1c50;
    color: white;
}
#btn-signup
{
   width: 100px;
   border:2px solid #1c1c50;
   color: #1c1c50;
   font-weight: bold;
   border-radius: 5px;
   height: 5vh;
   transition: 0.5s ease;
   cursor: pointer;
}
#btn-signup a
{
    text-decoration: none;
    color: #1c1c50;
    transition: 0.5s ease;
}
#btn-signup a:hover 
{
    background-color: #1c1c50;
    color: white;
}
#btn-signup:hover
{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:500px) {
    .top-icons
    {
        margin-left: 30px;
    }
    .top-icons i
    {
        font-size: 15px;
    }
    .other-links i
    {
        font-size: 15px;
    }
    #btn-login
    {
        width: 60px;
        height: 5vh;
    }
    #btn-signup
    {
        width: 70px;
        height: 5vh;
    }
     /* .home
    {
        flex-direction: column;
    }  */
    .home 
    {
        height: 20vh;
    
    }
}
@media screen and (max-width:350px) {
    .top-icons
    {
        margin-left: 10px;
    }
    .top-icons i
    {
        font-size: 10px;
    }
    .other-links
    {
        margin-right: 10px;
    }
    .other-links i
    {
        font-size: 10px;
    }
    #btn-login
    {
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup
    {
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
      .home 
    {
        height: 15vh;
    
    }
    
}
@media (min-width:350px) and (max-width:600px) {
    
   #top-cards .row  {
   flex-wrap: wrap;
   /* padding-inline:20%; */
   padding-top:50%;
}
}
@media (min-width:600px) and (max-width:800px) {
    
   #top-cards .row  {
   flex-wrap: wrap;
   /* padding-inline:20%; */
   padding-top:50%;
}
}
@media screen and(max-width:800px) {
    .content h3 
    {
      margin-left: 50px;
      font-size: 40px;
    }
    .content p
    {
        margin-left: 50px;
    }
    .content #ordernow
    {
        margin-left: 50px;
    }

}
@media screen and(max-width:570px) {
    .content h3 
    {
      margin-left: 50px;

    }
    .content p
    {
        margin-left: 50px;
    }
    .content #ordernow
    {
        margin-left: 50px;
    }
}
@media screen and(max-width:799px) {
    .home-section
    {
        height: 150vh;
    } 
}
@media screen and(max-width:550px) {
    .home-section
    {
        height: 100vh;
    }
    
} 
/* home section */
nav
{
    position:sticky;
    top:0;
    z-index: 50;
}
.home-section
{
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}
#navbar
{
    background-color: #1c1c50;
    font-size: 16px;   
    font-family: sans-serif;
    position:sticky;
    top:0;
    z-index: 50;
}
#navbar .nav-link
{
     font-weight: bold;
     color: white;
     margin-left: 5px;
     transition: 0.5s ease;
}
#navbar .nav-link:hover
{
    color: white;
    border-radius: 5px;
}
.dropdown li a
{
    color: white;
}
#search-btn
{
    color: white;
    border:1px solid white
}
#search-btn:hover
{
    background-color: #1c1c50;
}
.top-name
{
    text-align: center;
}

/* home content */
.home
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: sans-serif;
}
.home .img
{
    flex: 1 1 400px;
}
.home .img img
{
    width: 100%;
    /* height: 500px; */
}
.home .content
{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3
{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}
.content h3 span
{
    font-size: 40px;
}
.content p
{
    margin-left: 70px;
    color: #1c1c50;
}
.content #ordernow
{
    margin-left: 70px;
    width: 200px;
    height:38px;
    border:2px solid #1c1c50;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.content #ordernow:hover
{
    background-color: #1c1c50;
    color: white;
}
/* top cards */
#top-cards
{ 
    margin-top: 30px;
    font-family: sans-serif;
}

#top-cards .card img
{
    height: 60vh;
}
#top-cards h5
{
    color: #1c1c50;
    font-weight: bold;
}
#top-cards button
{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #1c1c50;
    border:2px solid #1c1c50;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover
{
    background-color: #1c1c50;
    color: white;
}
/* banner */
.banner
{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.banner .content
{
    text-align: center;
    padding-top:100px;
}
.banner .content h1
{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p
{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button
{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
} 
#bannerbtn button:hover
{
    background-color: #1c1c50;
    border: none;
}
/* earring card */
#Earrings-cards
{
    margin-top: 30px;
    font-family: sans-serif;
}
#Earrings-cards .card img
{
    height: 50vh;
}
.card-body h5 span
{
    float: right;
    color: #1c1c50;
    cursor: pointer;
   
}
/* rings Card */
#ring-cards .card img
{
  height: 50vh;
}
#ring-cards
{
    margin-top: 30px;
    font-family: sans-serif;
}
/* pendant cards */
.box-shadow
{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
#pendant-cards
{
    margin-top: 30px;
    font-family: sans-serif;
}
#pendant-cards .card img
{
  height: 50vh;
  transition: 0.6s ease;
}
#pendant-cards .card img:hover
{
 transform: scale(1.1);
}
#ring-cards .card img
{
  height: 50vh;
  transition: 0.6s ease;
}
#ring-cards .card img:hover
{
 transform: scale(1.1);
}
#Earrings-cards .card img
{
  height: 50vh;
  transition: 0.6s ease;
}
#Earrings-cards .card img:hover
{
 transform: scale(1.1);
}
.checked
{
     color:rgb(224, 188, 68);
}
#viewmorebtn
{
    display: flex;
    justify-content: center;
    margin:  auto;
    padding: 5px;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
}
#viewmorebtn:hover
{
    color: white;
    background-color: #1c1c50;
}
/* product card */

/* offer */
#offer
{
    margin-top: 40px;
}
#offer i
{
    font-size: 70px;
    color: #1c1c50;
}
/* footer */
#footer
{
    padding: 0 0 30px 0;
    color: white;
    font-size: 14px;
    background: #1c1c50;
    font-family: sans-serif;
}
#footer .footer-top
{
    padding: 60px 0 30px;
    background: #1c1c50;
    color: white;
}
#footer .footer-top .footer-content h3
{
  color: white;
  text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-content h4
{
   margin: 0 0 300px 0;
   padding: 2px 0 2px 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-content p
{
  line-height: 1;
  color: white;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}
#footer .footer-top h4
{
    font-weight: bold;
    position: relative;
    padding-bottom:12px;
}
#footer .footer-top .footer-links
{
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul
{
    list-style-type:none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li
{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child
{
    padding: 0;
}
#footer .footer-top .footer-links ul li a
{
    color: white;
    line-height: 2;
}
#footer .footer-top .footer-links ul li a
{
    color: white;
    line-height: 2;
}
#footer .footer-top .social-links a
{
    font-size: 18px;
    display: inline-block;
    color: white;
    line-height: 1;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.5s ease;

}
#footer .copyright
{
    text-align: center;
}
/* login */
.login
{
   
   display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}
#side1
{
    background-color: #1c1c50;
    height: 75vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3
{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p
{
    color: white;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn
{
    align-items: center;
    text-align: center;
    border:2px solid white;
    border-radius: 10px;
}
#btn a
{
    text-decoration: none;
    color: white;
}
#btn1
{
    align-items: center;
    text-align: center;
    border:2px solid white;
    border-radius: 10px;
    margin-top: 20px;
}
#btn1 a
{
    text-decoration: none;
    color: white;
}

#side2
{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3
{
    margin-top: 50px;
    color:#1c1c50;
    font-weight: bold;
}
#side2 .inp
{
    margin-top: 32px;
}
#side2 input
{
    width: 400px;
    height: 36px;
    align-items:center;
    margin-top: 20px;
    border-radius: 4px;
}
#side2 p
{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i
{
    margin-left: 10px;
    cursor: pointer;
}
#login 
{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color: #1c1c50;
    border: none;
    font-weight: bold;
}
@media screen and(max-width:992) {
   #side2 input {
        width: 300px;
    }
}
@media screen and(max-width:330px) {
   #side2 input {
        width: 200px;
    }
}
/* banner 2 */
.banner2
{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/pexels-vireshstudio-18016517.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.banner2 .content2
{
    text-align: center;
    padding-top:100px;
}
.banner2 .content2 h1
{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p
{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button
{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
} 
#bannerbtn2 button:hover
{
    background-color: #1c1c50;
    border: none;
}
/* about section */
#about-section
{
    margin-top: 40px;
}
#about-section img
{
  box-shadow: 5px 5px 5px rgba(31, 31, 36, 0.2);
}
#about-section p
{
    font-family: sans-serif;
    font-size: 18px;
}
/* contact section */
.contact
{
    margin-top: 40px;
}
.img1 
{
    width: 100%;
    height: 71vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/pexels-vireshstudio-18016517.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 5;
}
.input_controls input,textarea
{
   text-align: center;
   border-radius: 4px;
   border-top:transparent;
   background:transparent;
   color: white;
   margin-top: 70px;
   margin-left: 50px;
}
.input_controls input,textarea:focus
{
   outline-color: #1c1c50;
   
}
.input_controls textarea
{
    width: 80%;
    margin-left: 45px;
    
}
.button_container
{
    text-align: center;
    height: 35px;
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
    transition: 0.5s ease;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-weight: bold;
}
button:active
{
    outline-color: #1c1c50;
}
button:hover
{
    background-color: #1c1c50;
    color:white;
    border: transparent;
}
@media screen and (max-width:650px) {
    iframe{
         width: 550px;
    }
    .input_controls
    {
        width: 550px;
    }
    
}
@media screen and (min-width:350px) and (max-width:550px) {
    iframe{
         width: 350px;
    }
    .input_controls
    {
        width: 350px;
    }
    
}